@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    color: white;
    font-family: 'Poppins',sans-serif;
}
.container-heading{
    text-align: center;
    font-size: 2.5rem;
    padding: 16px 0px 12px 0px;
}
.container-calendar{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}