:root {
    --back: #121212;
    --white: #ffffff;
    --red: #ED221D;
}


*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

body{
    background: #121212;
}

.hero{
    padding: 4rem auto;
}

.sub-hero{
    margin: 2rem 1rem;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding: 1rem 1.5rem;
}

.hero-image{
    width: 45%;
    display: flex;
    justify-content: flex-end;
}

.hero-image img{
    width: 90%;
}

.hero-text{
    margin-top: 3rem;
    width: 50%;
    z-index: 3;
}

.hero-text h3{
    font-size: 2.5rem;
    margin-top: 1.25rem;
    line-height: 1;
    font-weight: 500;
}

.hero-text h1{
    font-size: 7rem;
    line-height: 1;
    font-weight: bold;
}

.ca-button{
    padding: 0.5rem 1.5rem;
    border-radius: 9999px;
    margin-top: 10%;
    color: #fff;
    background-color: #ED221D;
    outline: none;
    border: none;
    /* font-weight: bold; */
    cursor: pointer;
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.ca-button:hover{
    background-color: #941210;
    transition: all .3s ease-in-out;
}

@media(max-width: 1321px){

    .hero-text{
        margin-top: 2.5rem;
        width: 50%;
    }
    .hero-text h1{
        font-size: 6.25rem;
    }

    .hero-text h3{
        font-size: 2rem;
    }
}

@media(max-width: 1200px){
    .hero-text h1{
        font-size: 5.5rem;
    }

    .ca-button{
        margin-top: 7%;
        font-size: 1.7rem;
    }

    .hero-text h3{
        /* font-size: 1.8rem; */
    }
}

@media(max-width: 1068px){
    .sub-hero{
        margin: 1rem 0.8rem;
        padding: 0.5rem 0.75rem;
    }
    .hero-text{
        margin-top: 1.8rem;
        width: 50%;
    }
    .hero-text h1{
        font-size: 5rem;
    }

    .hero-text h3{
        margin-top: 1.1rem;
        font-size: 1.8rem;
    }

    .ca-button{
        padding: 0.2rem 0.8rem;
        margin-top: 7%;
        font-size: 1.5rem;
    }
}

@media(max-width: 944px){
    .hero-text{
        margin-top: 1rem;
        width: 50%;
    }
    .hero-text h1{
        font-size: 4.2rem;
    }

    .hero-text h3{
        font-size: 1.5rem;
    }
    
    .ca-button{
        padding: 0.1rem 0.8rem;
        margin-top: 7%;
        font-size: 1.4rem;
        line-height: 2rem;
    }
}

@media(max-width: 794px){
    .sub-hero{
        margin: 0.5rem 0.2rem;
        padding: 0.25rem 0.6rem;
    }
    .hero-text{
        margin-top: 1rem;
        width: 50%;
    }
    .hero-text h1{
        font-size: 3.8rem;
    }

    .hero-text h3{
        margin-top: 1.2rem;
        font-size: 1.3rem;
    }
}

@media(max-width: 695px){
    .hero-text{
        margin-top: 1rem;
        width: 50%;
    }
    .hero-text h1{
        font-size: 3.2rem;
    }

    .hero-text h3{
        margin-top: 0.8rem;
        font-size: 1.1rem;
    }
    .ca-button{
        padding: 0.1rem 0.4rem;
        margin-top: 5%;
        font-size: 1.1rem;
    }
}


@media(max-width: 590px){
    .hero-text{
        margin-top: 1rem;
        width: 50%;
    }
    .hero-text h1{
        font-size: 2.7rem;
    }

    .hero-text h3{
        margin-top: 0.4rem;
        font-size: 1rem;
    }
    .ca-button{
        padding: 0.1rem 0.4rem;
        margin-top: 5%;
        font-size: 0.8rem;
        line-height: 1.5rem;
    }
}

@media(max-width: 500px){
    .hero-text{
        margin-top: 1rem;
        width: 50%;
    }
    .hero-text h1{
        font-size: 2rem;
    }

    .hero-text h3{
        margin-top: 0.2rem;
        font-size: 0.7rem;
    }
    .ca-button{
        padding: 0.1rem 0.4rem;
        margin-top: 5%;
        font-size: 0.7rem;
        line-height: 1rem;
    }
}

@media(max-width: 390px){
    .hero-text{
        margin-top: 0.5rem;
        width: 50%;
    }
    .hero-text h1{
        font-size: 1.8rem;
    }

    .hero-text h3{
        margin-top: 0.2rem;
        font-size: 0.7rem;
    }
    .ca-button{
        padding: 0.1rem 0.4rem;
        margin-top: 6%;
        font-size: 0.5rem;
        line-height: 0.5rem;
    }
}

@media(max-width: 355px){
    .hero-text{
        margin-top: 0.5rem;
        width: 50%;
    }
    .hero-text h1{
        font-size: 1.4rem;
    }

    .hero-text h3{
        margin-top: 0.2rem;
        font-size: 0.5rem;
    }
    .ca-button{
        padding: 0.1rem 0.4rem;
        margin-top: 6%;
        font-size: 0.5rem;
        line-height: 0.5rem;
    }
}

